# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Core
/core @goplugin/foundations

# Chains
/common @goplugin/integrations
/core/chains/ @goplugin/integrations

# Services
/core/services/directrequest @goplugin/keepers
/core/services/feeds @goplugin/FMS

# To be deprecated in Plugin V3
/core/services/fluxmonitorv2 @goplugin/foundations
/core/services/job @goplugin/ccip
/core/services/keystore @goplugin/keepers
/core/services/ocr* @goplugin/foundations
/core/services/periodicbackup @goplugin/foundations
/core/services/pg @goplugin/foundations @samsondav
/core/services/pipeline @goplugin/foundations @goplugin/integrations
/core/services/telemetry @goplugin/realtime
/core/services/relay/evm/mercury @goplugin/mercury-team
/core/services/webhook @goplugin/foundations @goplugin/integrations
/core/services/llo @goplugin/mercury-team

# VRF-related services
/core/services/vrf @goplugin/vrf-team
/core/services/blockhashstore @goplugin/vrf-team
/core/services/blockheaderfeeder @goplugin/vrf-team
/core/services/pipeline/task.vrf.go @goplugin/vrf-team
/core/services/pipeline/task.vrfv2.go @goplugin/vrf-team
/core/services/pipeline/task.vrfv2plus.go @goplugin/vrf-team
/core/services/ocr2/plugins/dkg @goplugin/vrf-team
/core/services/ocr2/plugins/ocr2vrf @goplugin/vrf-team

# Keeper/Automation-related services
/core/services/keeper @goplugin/keepers
/core/services/ocr2/plugins/ocr2keeper @goplugin/keepers

# Plugin Functions
core/services/functions @goplugin/functions
core/services/ocr2/plugins/functions @goplugin/functions
core/services/s4 @goplugin/functions
core/service/ocr2/plugins/s4 @goplugin/functions
core/services/ocr2/plugins/threshold @goplugin/functions
core/services/relay/evm/functions @goplugin/functions
core/services/relay/evm/functions @goplugin/functions
core/scripts/functions @goplugin/functions
core/scripts/gateway @goplugin/functions

# Contracts
/contracts/ @RensR

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*keeper* @goplugin/keepers
/contracts/**/*upkeep* @goplugin/keepers
/contracts/**/*automation* @goplugin/keepers
/contracts/**/*functions* @goplugin/functions
/contracts/**/*llo-feeds* @smartcontrackit/mercury-team
/contracts/**/*vrf* @goplugin/vrf-team
/contracts/**/*l2ep* @goplugin/integrations

/contracts/src/v0.8/automation @goplugin/keepers
/contracts/src/v0.8/functions @goplugin/functions
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @chris-de-leon-cll
/contracts/src/v0.8/llo-feeds @goplugin/mercury-team
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @goplugin/foundations
/contracts/src/v0.8/shared @RensR
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @goplugin/vrf-team



# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @goplugin/functions


# Tests
/integration-tests/ @goplugin/test-tooling-team
/integration-tests/**/*keeper* @goplugin/keepers
/integration-tests/**/*automation* @goplugin/keepers

# CI/CD
/.github/** @goplugin/releng @goplugin/test-tooling-team
/.github/workflows/performance-tests.yml @goplugin/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @goplugin/keepers
/.github/workflows/automation-benchmark-tests.yml @goplugin/keepers
/.github/workflows/automation-load-tests.yml @goplugin/keepers
/.github/workflows/automation-nightly-tests.yml @goplugin/keepers

/core/plugin.Dockerfile @goplugin/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @goplugin/prodsec-public
.tool-versions @goplugin/prodsec-public
.nvmrc @goplugin/prodsec-public
contracts/package.json @goplugin/prodsec-public
contracts/pnpm.lock @goplugin/prodsec-public
go.mod @goplugin/prodsec-public
go.sum @goplugin/prodsec-public
integration-tests/go.mod @goplugin/prodsec-public
integration-tests/go.sum @goplugin/prodsec-public
flake.nix @goplugin/prodsec-public
flake.lock @goplugin/prodsec-public

# Config
./docs/CONFIG.md @goplugin/foundations @goplugin/devrel
./internal/config/docs.toml @goplugin/foundations @goplugin/devrel
